body {
  background: #fff;
  color: #706c66;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-top: 63px;
}
a:hover {
  text-decoration: none;
}
section {
  padding-top: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f0e9df;
}
section .section-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #55524e;
  letter-spacing: 1px;
}
section .section-subtitle {
  font-size: 30px;
  line-height: 43px;
  font-weight: 300;
  margin: 0 auto 70px;
}
section .section-title,
section .section-subtitle {
  text-align: center;
}
.light-bg {
  background: #f8f5f0;
}
.fa {
  margin-right: 5px;
}
.home {
  padding-top: 0;
}
.home .navbar {
  transition: all 0.2s ease-in-out;
}
.home .navbar.affix-top {
  background: transparent;
  border: 0;
}
.navbar-header .navbar-brand {
  display: block;
  width: 230px;
  height: 64px;
  background: url(../images/logo.png ) no-repeat;
  padding: 0;
}
.navbar-header .navbar-brand,
.navbar-header .site-description {
  text-indent: -9999px;
}
.splash {
  padding: 12em 0 9em;
  background-color: #141d27;
  background-image: url(../images/bg/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
.splash h1 {
  font-size: 2.7em;
  font-weight: 300;
  margin: 0 0 20px;
}
.splash .cat-list {
  font-size: 26px;
  color: #706c66;
}
.splash .cat-list li {
  list-style: none;
  display: inline;
}
.splash .cat-list a {
  color: #fff;
  padding: 0 5px;
  text-decoration: underline;
}
.splash .input-group {
  margin: 20px auto 0;
}
.splash .input-group .form-control {
  border: 0;
}
.splash .input-group .btn {
  background: #f9f9f9;
  color: #ccc;
  line-height: 42px;
}
@media (min-width: 768px) {
  .splash .input-group {
    width: 40%;
  }
}
figure {
  margin-bottom: 20px;
}
figure img {
  max-width: 100%;
}
figure figcaption {
  width: 72%;
}
figure .title {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
  color: #706c66;
}
figure p,
figure span {
  font-size: 14px;
  color: #cfbb99;
}
figure .btn {
  margin-top: 10px;
  line-height: 14px;
}
#resources p {
  color: #888;
  line-height: 1.5em;
  margin-top: 10px;
}
#resources a:hover {
  color: #3d8b40;
}
.codeschool img {
  background-color: #4cadc0;
  padding: 60px 30px;
}
.tutsplus img {
  background-color: #d8532a;
  padding: 73px 137px;
}
.codecademy img {
  background-color: #f1f2f2;
  padding: 57px 30px;
}
#floor {
  background: #393a35;
  padding: 50px 0;
  font-size: 14px;
}
#floor .widget-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #f5f5f5;
}
#floor ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-info {
  background: #171715;
  padding: 20px 0;
  text-align: center;
}
.page-header {
  margin: 0 0 40px;
  padding: 40px 0;
}
.page-header .page-title {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}
.type-download img {
  width: 100%;
}
.info-inner {
  margin-left: 40px;
}
.page-header {
  font-size: 2.5em;
  border: 0;
}
.entry-content {
  margin-top: 20px;
}
.tab-pane {
  padding: 20px 10px;
}
.well .box {
  background: #fff;
  text-align: center;
  padding: 10px;
}
.well .box strong {
  font-size: 3em;
  line-height: 1;
  display: block;
}
.well .box span {
  color: #999;
}
.panel-author {
  text-align: center;
  margin-top: 40px;
}
.panel-author .avatar {
  margin-top: -35px;
  border-radius: 50%;
}
.tag-cloud a {
  background: #f8f5f0;
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #98978b;
  border: 1px solid #e8decd;
}
.tag-cloud a:hover {
  background: #c7af88;
  color: #fff;
}
.skip-link {
  display: none;
}
